html{
    background-position: 50px 0;
    height: 100%;
}
body{
	position: relative;
    background-color: transparent;
}
.main{
	position: relative;
    width: 100%;
}
#container{
	position: relative;
    min-width: 1300px;
}
.node{
	display:none;
}
.node h2{
    text-shadow: white 0.1em 0.1em 0.2em;
}
.toOverlay{
    float: left;
    margin: 100px 0 0 50px;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    border-color: black;    
}
.videoOverlay {
    background-color: rgba(0,0,0,0.5);
    border-color: black;
    float: left;
}
.toOverlay a{
    display: inline-block;
    background: url('../img/arrows.png') no-repeat 0 0;
    padding-left: 35px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.toOverlay a:hover{
    color: #0bf;
    background-position: 0 -20px;
}
.toOverlay a.visited{
    background-position: 0 -40px;
    padding-left: 55px;
}
.toOverlay a.visited:hover{
    background-position: 0 -60px;
}
.menu{
    position: fixed;
    top:0px;
    text-align: right;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding:10px 0;
    z-index: 2;
    border-bottom: 1px solid black;
}
.menu a{
    margin-right: 10px;
}
#overlay, .overlayMain {
    position: fixed;
    top: 0;
    left: 0;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
    z-index: 10000;
    display:none;
    height: 100%;
}
.overlayMain{
    overflow: auto;
}
#overlay{
    width: 100%;
    background-color: #000;
}
.whiteBg{
	background-color: white;
}
#mainTitle{
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 10px;
    margin: 0px;
    font-size: 40px;
    line-height: 48px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.mainVideo{
    margin-top: 50px;
    padding-top: 10px;
}
.overlayMain.timelineBtn {
    background: url('../img/history04.jpg');
}
div.yellowBg {
    background-color: yellow;
}
.mainPadding{
    padding: 0 10px;
}
.closeCross {
    color:red;
    position: absolute;
    right: 10px;
    top:20px;
    font-size: 40px;
}
.footlink{
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
    margin-top: -115px;
    position: absolute;
    z-index: 2;
    left: 30px;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.footlink a{
    color: white;
}
.footlink a.bigger{
    font-size: 22px;
}
.footlink a:hover{
    color: #0bf;
}
.clear{
    clear: both;
}
#timeline h1, .closeCross{
    text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white;
    color:red;   
}
#timeline ul{
    margin: 0px;
}
#timeline li{
    list-style-type: none;
    color: orange;
    margin-bottom: 20px;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
    background: black;
    border: white;
    width: 48%;
    border-radius:5px;
    padding: 2px 1%;
    border:1px solid white;
}
#timeline li:nth-child(even) {
    margin-left:50%;
}
.backgroundDiv{
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.backgroundDiv > div{
    overflow: visible;
}